.black
{
    color: black;
    font-weight: bold;
    display:inline-block;
    font-size: 22px;
    width:125px;
    height:100px;
    text-align: center;
    line-height: 100px;
}
.black:hover
{
    background-color: green;

}
.black:disabled
{
    background-color: white;
}
.container
{
    display:inline-block;
    position: absolute;
    top:0px;
    left:200px;
}
.image
{
    display:inline-block;
   
}
.test
{
    display:inline;
}
#notification
{
    visibility:hidden;
    height:50vh;
    background-color: black;
}

#cross
{
    position: absolute;
    right:10px;
}
#variable_html
{
    font-size: 20px;
    color:yellow;
}
th{
    width:400px;
}
td,th:hover
{
    cursor:grab;
}
th,td{
    text-align: center;
}
td{
    color:white;
    font-size: 15px;
}