@media (width>=650px) {
    .black {
        color: black;
        font-weight: bold;
        display: inline-block;
        font-size: 22px;
        width: 125px;
        height: 100px;
        text-align: center;
        line-height: 100px;
    }

    .image {
        display: inline-block;
        width: 70px;
        height: 90px;
    }

    #first{
        font-size: 30px;
    }

    #second
    {
        font-size:30px;color:yellow;
    }
    #third
    {
        font-size:50px;
    }
}

@media (width<650px) {
    .black {
        color: black;
        font-weight: bold;
        display: inline-block;
        font-size: 8px;
        width: auto;
        height: auto;
        text-align: center;
        line-height: 50px;
    }

    .image {
        display: inline-block;
        width: 25px;
        height: 30px;
    }

    #first {
        font-size: 20px;
    }

    #second
    {
        font-size:20px;color:yellow;
    }
    #third
    {
        font-size:10px;
    }
}



.black:hover {
    background-color: green;

}

.black:disabled {
    background-color: white;
}

.container {
    display: inline-block;
    position: absolute;
    top: 0vh;
    left: 20vw;
}


.test {
    display: inline;
}

#notification {
    visibility: hidden;
    height: 100vh;
    background-color: black;
    position: relative;
    z-index: 1;
}

#cross {
    position: absolute;
    right: 10px;
    width: 90px;
    height: 50px;
}

#variable_html {
    font-size: 20px;
    color: yellow;
}

th {
    width: 400px;
}

td,
th:hover {
    cursor: grab;
}

th,
td {
    text-align: center;
}

td {
    color: white;
    font-size: 15px;
}

.container-main {
    background-color: black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 50vh;
    position: relative;
    top: -100vh;
    z-index: 0;
}